* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f18585;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .container {
    background: rgb(1, 2, 24);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #ffffff;
    width: 100%;
    max-width: 400px;
  }
  
  h1 {
    margin-bottom: 20px;
    color: inherit;
  }
  
  .converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .converter input[type="number"],
  .converter select {
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
  }
  
  .converter button {
    padding: 15px 30px;
    background-color: #226e03;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .converter button:hover {
    background-color: #004466;
  }
  
  .result {
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    background-color: #f1d6d6;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .copy {
    margin-top: 20px;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .container {
      padding: 20px;
    }
  
    .converter input[type="number"],
    .converter select,
    .converter button {
      font-size: 16px;
      padding: 10px;
    }
  
    .result {
      font-size: 18px;
      padding: 10px;
    }
  
    h1 {
      font-size: 24px;
    }
  
    .logo svg {
      width: 50px;
      height: 50px;
    }
  }

  .sourcecode {
    background-color: blue;
    padding: 1em;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    border: 1px solid blue;
    cursor: pointer;
    font-size: 1rem;
}


  .sourcecode:hover{
    background-color: green;
    color: white;
    border:3px solid blue;
    text-decoration: none;
  }
  